<main class="display-messages">
  <h1 class="message-heading">Messages</h1>
  <% messages.forEach(message => { %>
  <div class="message">
    <% if (locals.user) { %>
    <p class="message-date">created at: <%= message.createdAt %></p>
    <% } %> <% if (locals.user) { %>

    <p>created by: <span><%= message.creator.username %> </span></p>
    <% } %>
    <p><%= message.message %></p>
  </div>
  <div class="delete-message">
    <% if (user) { %> <% if (user.is_admin) { %>

    <form action="/add-message/delete" method="post">
      <input type="hidden" name="message_id" value="<%= message.id %>" />
      <button>Delete</button>
    </form>
    <% } %>
    </div>
    <% } %> <% }) %>
</main>
