<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/catagoriesForm.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1>add catagories</h1>
        
        
        
<form action="/catagoryForm" method="post">
    <input type="text" name="catagory" id="">
    <button>submit</button>
</form>    



    <%- include('partials/footer') %>
</body>
</html>