<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/layout.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Home</h1>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <span> <%= user.username %> </span></h1>
    <p>membership status <span><%= user.membership_status %></span></p>
    <%- include('partials/addMessage') %>
    <a href="/logout">LOG OUT</a>

    <% } else { %>
    <h1>please log in</h1>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%> <% if (!locals.user) { %>
    <p><a href="/signup">Sign Up</a></p>

    <% } %>
    <!-- <p><a href="/login">LogIn</a></p> -->
    <%- include('partials/viewMessages') %>
  </body>
</html>
