<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>game store</title>
    <link rel="stylesheet" href="/layout.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div id="page-content">
      <nav><%- include('partials/catagory') %></nav>
      <main>
        <h2>new Games</h2>
        <%- include('partials/newGames') %>
      </main>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
