<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit form</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Username Form</h1>
    <p><a href="/">Home</a></p>
    <form action="/new" method="POST">
        <input type="text" name="username">
        <button>submit</button>
    </form>
</body>
</html>