<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>LogIn</h1>
    <form action="/login" method="post">
      <div>
        <label for="username">username</label>
        <input type="username" name="username" id="" />
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" name="password" id="" />
      </div>
      <div><button type="submit">LogIn</button></div>
    </form>

    <p><a href="/signup">create account</a></p>
  </body>
</html>
