<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/layout.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>admin passcode</h1>
    <p>turn the background white to see the passcode <span class="passcode-hide">wabbalabbadubdub</span></p>

    <% if (locals.user) { %> <% } %>

    <form action="/make-admin" method="post">
      <input type="hidden" name="userId" value="<%= user.id %>" />
      <div>
        <input type="text" name="passcode" id="" />
        <button type="submit">submit</button>
      </div>
    </form>
  </body>
</html>
