<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>update user</h1>
    <p>enter the code <span>hehe</span> to become a exclusive member</p>
    <form action="/update-status" method="post">
      <div>
        <label for="passcode">passcode</label
        ><input type="text" name="passcode" id="" />
        <input type="hidden" name="user_id" value="<%= user.id %>" />
      </div>
      <div>
        <button type="submit">updateStatus</button>
      </div>
    </form>
  </body>
</html>
