body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

main {
  margin: 0 10%;
  border: solid white 1px;
  border-radius: 8px;
}

.last-message{
    font-family: monospace;
}
