body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span {
  color: blue;
}

.display-messages {
  border: solid white 1px;

  margin: 0 20%;
  border-radius: 0.5625rem;
}
.message-heading{
  text-align: center;
  color: palevioletred;
}
.message {
  padding: 5px;
  text-align: center;
  margin: 3px;
  border: 1px solid white;

}

.message-date {
  font-size: smaller;
  color: peachpuff;
}
